{
  "root": true,
  "plugins": ["@nx"],
  "settings": {
    "import/resolver": {
      "typescript": {
        // Need this from eslint-import-resolver-typescript because we are aliasing
        // root project paths as "@"
        "project": ["apps/*/tsconfig.app.json", "libs/*/tsconfig.lib.json"]
      }
    }
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx", "*.vue", "*.js", "*.jsx"],
      "extends": ["plugin:import/recommended"],
      "rules": {
        // https://nx.dev/core-features/enforce-project-boundaries
        "@nx/enforce-module-boundaries": [
          "error",
          {
            "enforceBuildableLibDependency": true,
            "allow": [],
            "depConstraints": [
              {
                "sourceTag": "*",
                "onlyDependOnLibsWithTags": ["*"]
              }
            ]
          }
        ],
        // Start Sort Imports...
        "sort-imports": [
          "error",
          {
            "ignoreCase": true,
            "ignoreDeclarationSort": true
          }
        ],
        "import/order": [
          1,
          {
            "groups": ["external", "builtin", "internal", "sibling", "parent", "index"],
            // TODO: make sure this is correct for this template folder structure
            "pathGroups": [
              {
                "pattern": "components",
                "group": "internal"
              },
              {
                "pattern": "common",
                "group": "internal"
              },
              {
                "pattern": "routes/**",
                "group": "internal"
              },
              {
                "pattern": "assets/**",
                "group": "internal",
                "position": "after"
              }
            ],
            "pathGroupsExcludedImportTypes": ["internal"],
            "alphabetize": {
              "order": "asc",
              "caseInsensitive": true
            }
          }
        ]
        // End Sort Imports...
      }
    },
    {
      "files": ["*.ts", "*.tsx", "*.vue"],
      "extends": [
        // NOTE: "@nx/typescript" includes the standard typescript and prettier plugins
        //       There is also "plugin:@nx/javascript" if you want to add *.js, *.jsx config
        "plugin:@nx/typescript",
        "plugin:vue/vue3-recommended",
        "@vue/eslint-config-typescript",
        "@vue/eslint-config-prettier",
        "plugin:vuetify/base"
      ],
      "rules": {
        "no-console": "error",
        // Disabled due to conflicts with prettier printWidth option
        "vue/singleline-html-element-content-newline": "off",
        "vue/max-attributes-per-line": [
          "error",
          {
            "singleline": 20,
            "multiline": {
              "max": 1
            }
          }
        ],
        "vue/html-self-closing": [
          "error",
          {
            "html": {
              // Need this rule for self closing tags like <img />
              "void": "always"
            }
          }
        ]
      }
    }
  ]
}
