# ******************** IDEs ******************** #

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


# ******************** CODE ******************** #

# compiled output
dist
tmp
/out-tsc

# dependencies
node_modules


# ********** LOGS, TESTS AND COVERAGE ********** #

/coverage
npm-debug.log
yarn-error.log
testem.log

# ******************* OTHER ******************** #

# misc
/.sass-cache
/connect.lock
/typings

# System Files
.DS_Store
Thumbs.db
